#container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#board {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: max-content;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.white {
    background-color: #eee;
}

.cell.black {
    background-color: #444;
    color: white;
}

.player1 {
    background-color: rgb(57, 57, 223);
}
.player2 {
    background-color: rgb(16, 95, 69);
}
.player1,
.player2 {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid #222;
}

#history {
    max-width: 300px;
}

.history-columns {
    display: flex;
    justify-content: space-between;
}

#player1-history,
#player2-history {
    width: 48%;
}

button.move {
    margin: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

button.move:hover {
    background-color: #ddd;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}

.flex h3 {
    margin: 0;
}

.w-full {
    width: 100%;
}
.container {
    box-sizing: border-box;
}
.mx-2 {
    margin-inline: 2rem;
}

.px-2 {
    padding-inline: 2rem;
}
